.farma-icon {
    height: 22px;
    margin-top: -7px;
}

.signos-vitales{
    padding-left: 10px;
    padding-right: 0px;
}

.signos-vitales b{
    font-size: 17px;
    margin-left: 5px;
}
.signos-vitales span{
    font-size: 11px;
}

.subtitle{
    font-size: 13px;
    margin-left: 25px;
    font-weight: 400;
    color: #275587;
    cursor: pointer;
}

.title{
    font-size: 15px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin-left: 4px;
}