<mat-card class="mt-2">
  <mat-card-subtitle>Signos vitales</mat-card-subtitle>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-3 signos-vitales">
        <img src="../../../../assets/farma-icons/temperature.png" alt="FC" class="farma-icon">
        <b>36</b><span>ºC</span>
      </div>
      <div class="col-sm-3 signos-vitales">
        <img src="../../../../assets/farma-icons/respiratory.png" alt="FC" class="farma-icon">
        <b>40</b><span>rpm</span>
      </div>
      <div class="col-sm-3 signos-vitales">
        <img src="../../../../assets/farma-icons/heart-rate.png" alt="FC" class="farma-icon">
        <b>120</b><span>bpm</span>
      </div>
      <div class="col-sm-3 signos-vitales">
        <img src="../../../../assets/farma-icons/oxygen-sat.png" alt="FC" class="farma-icon">
        <b>99</b><span>%</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
