<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="container-fluid">
  <button mat-raised-button color="primary" (click)="openPaciente()" class="mt-2">Paciente nuevo</button>
  <div class="row">
    <div class="col-sm-4 mt-2" *ngFor="let paciente of listaPacientes">
      <mat-card class="card-patient">
        <img class="img-avatar" [src]="paciente.paciente_url" alt="niño" class="img-avatar">
        <div class="title-avatar">{{ paciente.paciente_nombre }}</div>
        <div class="datos-sub">
            <img routerLink="/ficha-paciente/{{paciente.paciente_id}}" src="../../../../assets/farma-icons/file.png" alt="Ficha" class="farma-icon" matTooltip="Ficha del paciente">
            <img (click)="editarPaciente(paciente.paciente_id)" src="../../../../assets/farma-icons/edit.png" alt="Ficha" class="farma-icon" matTooltip="Editar">
        </div>
      </mat-card>
    </div>
  </div>
</div>