<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="container-fluid">
  <button mat-raised-button color="primary" (click)="openPaciente()" class="mt-2">Paciente nuevo</button>
  <div class="row">
    <div class="col-sm-4 mt-2" *ngFor="let paciente of listaPacientes">
      <mat-card routerLink="/ficha-paciente/{{paciente.paciente_id}}">
        <img class="img-avatar" src="../../../assets/nino.jpg" alt="niño" class="img-avatar">
        {{ paciente.paciente_nombre }}
      </mat-card>
    </div>
  </div>
</div>