<div matDialogTitle *ngIf="!data">Crear Usuario</div>
<div matDialogTitle *ngIf="data">Editar Usuario</div>
<div class="container">
  <form [formGroup]="formUsuario">
    <mat-form-field class="p100">
        <mat-select placeholder="Perfil" formControlName="tipousuario_id" required>
            <mat-option [value]="">Administrador</mat-option>
            <mat-option value="1">Administrador</mat-option>
            <mat-option value="3">Coordinador de Enfermería</mat-option>
            <mat-option value="2">Coordinador de Farmacia</mat-option>
            <mat-option value="13">Coordinador de KTM</mat-option>
            <mat-option value="12">Coordinador de KTR</mat-option>
            <mat-option value="14">Coordinador de Fono</mat-option>
            <mat-option value="11">Coordinador de TENS</mat-option>
            <mat-option value="6">Despachador</mat-option>
            <mat-option value="4">Enfermería</mat-option>
            <mat-option value="9">Fonoaudiólogo</mat-option>
            <mat-option value="10">Médico</mat-option>
            <mat-option value="5">TENS</mat-option>
          </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="p100">
      <mat-label>Usuario:</mat-label> 
      <input matInput formControlName="user_name" required>
    </mat-form-field>
    <br>
    <mat-form-field class="p100">
      <mat-label>Nombre:</mat-label> 
      <input matInput formControlName="user_names" required>
    </mat-form-field>
    <br>
    <mat-form-field class="p100">
      <mat-label>Email:</mat-label> 
      <input type="email" matInput formControlName="user_email">
    </mat-form-field>
    <br>
    
    <button mat-raised-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="formUsuario.value" [disabled]="!formUsuario.valid" class="btn-submit">Registrar</button>
  </form>
</div>