<mat-card class="mt-2">
  <h3>Evolución del paciente</h3>
  <button mat-raised-button color="primary" (click)="newEvolucion()" class="mt-2">Ingresar evolución</button>
  <mat-accordion>
      <mat-expansion-panel class="mt-2" *ngFor="let evolucion of listaEvolucion">
        <mat-expansion-panel-header>
          <mat-panel-title style="width:0px;">
              {{ evolucion.ep_date | date:'dd/MM/yy HH:mm' }}
          </mat-panel-title>
          <mat-panel-description>
              {{ evolucion.tipousuario_nombre }}: {{ evolucion.user_names }}
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div *ngIf="evolucion.ep_info_rel_ref">
            <b>Información relevante referida:</b><br>
            <pre>{{ evolucion.ep_info_rel_ref }}</pre>
          </div>
          <div *ngIf="evolucion.ep_examen_fisico">
            <b>Destaca al examén físico:</b><br>
            <pre>{{ evolucion.ep_examen_fisico }}</pre>
          </div>
          <div *ngIf="evolucion.ep_evolucion">
            <b>Evolución:</b><br>
            <pre>{{ evolucion.ep_evolucion }}</pre>
          </div> 
          <div *ngIf="evolucion.ep_intervencion">
            <b>Intervenciones:</b><br>
            <pre>{{ evolucion.ep_intervencion }}</pre>
          </div>
          <div *ngIf="evolucion.ep_procedimiento">
            <b>Procedimientos:</b><br>
            <pre>{{ evolucion.ep_procedimiento }}</pre>
          </div>
      </mat-expansion-panel>
    </mat-accordion>
</mat-card>
