.img-avatar{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #a7a7a7;
    margin-top: -52px;
    margin-left: -19px;
}

.title-avatar{
    position: absolute;
    margin-left: 70px;
    margin-top: -51px;
    font-size: 18px;
    color: #102c5e;
}

.datos-sub2{
    position: absolute;
    margin-left: 56px;
    margin-top: -21px;
    font-size: 14px;
    width:250px;
}

.datos-sub{
    position: absolute;
    margin-top: 28px;
    width:80%;
}

.farma-icon {
    height: 22px;
    margin-top: -7px;
}

.signos-vitales{
    padding-left: 10px;
    padding-right: 0px;
}

.signos-vitales b{
    font-size: 17px;
    margin-left: 5px;
}
.signos-vitales span{
    font-size: 11px;
}

.subtitle{
    font-size: 13px;
    color: #575757;
}