<mat-accordion  >
    <mat-expansion-panel class="mt-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Enfermera
        </mat-panel-title>
        <mat-panel-description>
          Evolución del paciente
        </mat-panel-description>
      </mat-expansion-panel-header>
        <p>
          <b>Evolución:</b><br>
          Evolución del paciente ingresada por la enfermera.
        </p>    
        <p>
          <b>Información relevante referida:</b><br>
          Información relevante referida del paciente ingresada por la enfermera.
        </p> 
        <p>
          <b>Destaca al examén físico:</b><br>
          Destaca al examén físico del paciente ingresada por la enfermera.
        </p> 
    </mat-expansion-panel>

    <mat-expansion-panel class="mt-2">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Title
          </mat-panel-title>
          <mat-panel-description>
            Descripcion
          </mat-panel-description>
        </mat-expansion-panel-header>
         Contenido!
      </mat-expansion-panel>
  </mat-accordion>
