<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-accordion>
  <mat-expansion-panel class="mt-2">
    <mat-expansion-panel-header>
      <mat-panel-title style="width:0px;">
        Invasivos
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <button mat-flat-button color="primary" (click)="newInvasivo()" class="mt-2">Agregar invasivo</button>
    <div class="p100 mt-2" *ngIf="listaInvasivos!=''">
      <table class="table table-light table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Invasivo</th>
            <th scope="col">Indicación de cambio</th>
            <th scope="col">Uso</th>
            <th scope="col">Cambio programado</th>
            <th scope="col">Responsable</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invasivo of listaInvasivos" (click)="cambioInvasivo()">
            <td>{{ invasivo.insumo_nombre }}</td>
            <td>{{ invasivo.pi_posologia }}</td>
            <td *ngIf="invasivo.fecha_inicio">{{ invasivo.fecha_inicio | amDifference: today :'days' : false }} días</td>
            <td *ngIf="invasivo.fecha_vencimiento">{{ invasivo.fecha_vencimiento | date:'dd/MM/yy' }}</td>
            <td *ngIf="invasivo.usuario_resp">{{ invasivo.usuario_resp }}</td>
            <td colspan="3" *ngIf="!invasivo.usuario_resp">Sin información</td>
          </tr>
        </tbody>
      </table>
    </div>

  </mat-expansion-panel>
</mat-accordion>