<div matDialogTitle>Evolución del paciente</div>
<div class="container">
  <form [formGroup]="formEvolucion">
    <mat-form-field class="p100" appearance="outline">
      <mat-label>Información relevante referida:</mat-label> 
      <textarea matInput formControlName="ep_info_rel_ref" required></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="p100" appearance="outline">
      <mat-label>Destaca al examén físico:</mat-label> 
      <textarea matInput formControlName="ep_examen_fisico" required></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="p100" appearance="outline">
      <mat-label>Evolución</mat-label>
      <textarea matInput formControlName="ep_evolucion" required></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="formEvolucion.value" [disabled]="!formEvolucion.valid" class="btn-submit">Registrar</button>
  </form>
</div>