<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="container-fluid mt-2">
  <mat-card>
    <table class="table table-light table-sm">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Nombres</th>
          <th scope="col">Email</th>
          <th scope="col">Perfil</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listaUsuarios">
          <td>{{ usuario.user_name}}</td>
          <td>{{ usuario.user_names}}</td>
          <td>{{ usuario.user_email}}</td>
          <td>{{ usuario.tipousuario_nombre}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>